<app-menu></app-menu>

<div class="criacao-aluno-component">
  <form>
    <div>
      <label>Foto</label>
      <input type="text" placeholder="Foto" />
    </div>

    <div>
      <label>Nome</label>
      <input type="text" placeholder="Nome" />
    </div>

    <div>
      <label>Idade</label>
      <input type="number" placeholder="Idade" />
    </div>

    <div>
      <label>Responsável</label>
      <input type="text" placeholder="Responsável" />
    </div>

    <div>
      <label>Turma</label>
      <input type="text" placeholder="Turma" />
    </div>

    <button class="blue">Salvar</button>
  </form>
</div>
