.professores-component {
  padding: 20px;
  width: fit-content;
  max-width: 1000px;
  margin: 0 auto;

  table {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    border-collapse: collapse;

    th {
      min-width: 70px;
      padding: 5px;
    }

    td {
      border-top: 1px solid #ccc;
      padding: 10px;

      ul {
        list-style: none;
      }

      button {
        margin: 0 5px;
        padding: 10px;
      }
    }
  }

  > button {
    margin-top: 15px;
    padding: 10px;
  }
}
