<app-menu></app-menu>

<div class="alunos-component">
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Responsável</th>
        <th>Turma</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of alunos">
        <td>{{ a.nome }}</td>
        <td>{{ a.idade }}</td>
        <td>{{ a.responsavel }}</td>
        <td>{{ a.turma }}</td>
        <td>
          <button class="green" (click)="editarAluno(a)">Editar</button>
          <button class="red" (click)="excluirAluno(a)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="blue" (click)="criarNovoAluno()">Novo Aluno</button>
</div>
