<app-menu></app-menu>

<div class="turma-component">
  <form>
    <div>
      <label>Nome da turma</label>
      <input type="text" placeholder="Nome da turma" />
    </div>

    <div class="doisInputs">
      <div>
        <label>Horário de início</label>
        <input type="number" placeholder="Horário de início" min="8" max="17" />
      </div>

      <div>
        <label>Horário de fim</label>
        <input type="number" placeholder="Horário de fim" min="9" max="18" />
      </div>
    </div>

    <div>
      <label>Faixa etária</label>
      <input type="number" placeholder="Faixa etária" />
    </div>

    <div>
      <label>Professor responsável</label>
      <input type="text" placeholder="Professor responsável" />
    </div>

    <button class="blue">Salvar</button>
  </form>
</div>
