<app-menu></app-menu>

<div class="dashboard-component">
  <table>
    <thead>
      <tr>
        <th>Turma</th>
        <th>Professor responsável</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of turmas">
        <td>{{ t.nome }}</td>
        <td>{{ t.professorResponsavel.nome }}</td>
        <td>
          <button class="green" (click)="editarTurma(t)">Editar</button>
          <button class="red" (click)="excluirTurma(t)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="blue" (click)="criarNovaTurma()">Nova Turma</button>
</div>
